<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="BoardMapper">

	<!-- Board.java의 멤버변수와 대상 테이블의 컬럼 연결 -->
	<resultMap type="study.spring.bulletinboard.model.Board" id="boardMap">
		<result property="no" column="no" />
		<result property="writer" column="writer" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="crt_date" column="crt_date" />
		<result property="hits" column="hits" />
	</resultMap>
	
	<!-- Chart.java의 멤버변수와 대상 테이블의 컬럼 연결 -->
	<resultMap type="study.spring.bulletinboard.model.Chart" id="chartMap">
		<result property="visit_date" column="visit_date" />
		<result property="visit_direct" column="visit_direct" />
		<result property="visit_others" column="visit_others" />
	</resultMap>
	
	<!-- 리스트 조회 -->
	<select id="selectList" parameterType="study.spring.bulletinboard.model.Board" resultMap="boardMap">
		SELECT NO, TITLE, WRITER, CRT_DATE, HITS
		FROM
		(
		    SELECT ROWNUM, DATA.*
		    FROM
		    (
		        SELECT NO, WRITER, TITLE, TO_CHAR(CRT_DATE, 'YYYY-MM-DD HH:MI') AS CRT_DATE, HITS
		        FROM TBL_BOARD
		        
		        <where>
		        	<if test="title != null and title != ''">
		        		WHERE TITLE LIKE '%#{title, jdbcType=VARCHAR}%'
		        	</if>
		        </where>
		        ORDER BY NO DESC
		    )DATA
		)
	</select>
	
	<!-- 상세 페이지 조회 -->
	<select id="selectItem" parameterType="study.spring.bulletinboard.model.Board" resultMap="boardMap">
		SELECT NO, WRITER, TITLE, CONTENT, TO_CHAR(CRT_DATE, 'YYYY-MM-DD HH:MI') AS CRT_DATE, HITS
		FROM TBL_BOARD
		WHERE NO = #{no}
	</select>
	
	<!-- 게시글 등록 -->
	<!-- <insert id="insertItem" parameterType="study.spring.bulletinboard.model.Board" useGeneratedKeys="true" keyProperty="no"> -->
	<insert id="insertItem" parameterType="study.spring.bulletinboard.model.Board">
		INSERT INTO TBL_BOARD(NO, WRITER, TITLE, CONTENT, CRT_DATE, HITS)
		VALUES(SEQ_BOARD.NEXTVAL, #{writer}, #{title}, #{content}, SYSDATE, 1)
	</insert>
	
	<!-- 전체 게시글 수 조회 -->
	<select id="selectCountAll" parameterType="study.spring.bulletinboard.model.Board" resultType="int">
		SELECT COUNT(*)
		FROM TBL_BOARD
		
		<where>
        	<if test="title != null and title != ''">
        		WHERE TITLE LIKE '%#{title, jdbcType=VARCHAR}%'
        	</if>
        </where>
	</select>
	
	<!-- 게시글 수정 -->
	<update id="updateItem" parameterType="study.spring.bulletinboard.model.Board">
		UPDATE TBL_BOARD
		SET TITLE = #{title}, CONTENT = #{content}, WRITER = #{writer}
		WHERE NO = #{no}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteItem" parameterType="study.spring.bulletinboard.model.Board">
		DELETE
		FROM TBL_BOARD
		WHERE NO=#{no}
	</delete>
	
	<!-- 라인 차트 정보 조회 -->
	<select id="selectLine" parameterType="study.spring.bulletinboard.model.Chart" resultMap="chartMap">
		SELECT VISIT_DATE, VISIT_DIRECT, VISIT_OTHERS
		FROM TBL_VISIT
	</select>
	
	<!-- 게시글 조회시 조회수 올라가기 -->
	<update id="updateItem" parameterType="study.spring.bulletinboard.model.Board">
		UPDATE TBL_BOARD
		SET HITS = #{hits}
		WHERE NO = #{no}
	</update>
	
</mapper>

